// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

body {
  background-color: #FCF5E8;
}

h1, h2, h3, h4 {
  text-align: center;
  margin: 50px auto;
}

.navbar {
  margin-bottom: 50px;
  justify-content: flex-start;
  grid-gap: 15px;
  // background-size: cover;
  padding: 10px 20px;
  width: 100vw;
}

table {
  max-width: 800px;
  margin: 0 auto;
}

form {
  max-width: 600px;
  margin: 0 auto;
}

.size {
  height: 1000px;
}

.btn {
  font-weight: bold;

}
